<div class="content">
    <img src="assets/img/el-pollo-loco.svg" alt="el-pollo-loco-img">
    <div class="project-description">
        <p class="topic-headline">El Pollo Loco</p>
        <span class="language">JavaScript | HTML | CSS</span>
        <p class="description">A straightforward Jump-and-Run game built on an object-oriented approach.
            Assist Pepe in discovering coins and Tabasco bottles to combat the Chicken Boss.</p>
        <div class="buttons">
            <a href="#"><div class="test-button">
                Live test
            </div></a>
            <a href="#"><div class="git-button">
                Github
            </div></a>
        </div>
    </div>
</div>