<div class="content">
    <div class="project-description" data-aos="zoom-out-right">
        <p class="topic-headline">El Pollo Loco</p>
        <span class="language">JavaScript | HTML | CSS</span>
        <p class="description">A straightforward Jump-and-Run game built on an object-oriented approach.
            Assist Pepe in discovering coins and Tabasco bottles to combat the Chicken Boss.</p>
        <div class="buttons">
            <a href="https://el-pollo-loco.anton-osipov.de/" target="_blank"><div class="test-button">
                Live test
            </div></a>
            <a href="https://github.com/AntonOsipov99/el-pollo-loco/" target="_blank"><div class="git-button">
                Github
            </div></a>
        </div>
    </div>
    <img src="assets/img/el-pollo-loco.png" alt="el-pollo-loco-img" data-aos="zoom-out-left">
</div>