<div class="separator"></div>
<footer id="footer">
    <div><span class="first-name">Anton</span><br><a href="impressum.component.html" class="impressum">Impressum</a></div>
    <span class="name">© Anton Osipov 2023</span>
    <div class="footer-icons">
        <a href="https://github.com/AntonOsipov99" target="_blank"><img src="assets/img/github-img.svg" alt="github-img"></a>
        <a [href]="'mailto:antonosipov@web.de'" ><img src="assets/img/email-img.svg" alt="email-img"></a>
        <a href="https://www.linkedin.com/in/anton-osipov-759b0724a/" target="_blank"><img src="assets/img/linkedin-img.svg" class="margin-right" alt="linkedIn-img"></a>
    </div>
</footer>