<div class="separat"></div>
<footer id="footer">
    <div><a href="https://anton-osipov.de/" class="first-name">Anton</a><br><a [routerLink]="['impressum']" class="impressum">Impressum</a>
</div>
    <span class="name">© Anton Osipov 2023</span>
    <div class="footer-icons">
        <a href="https://github.com/AntonOsipov99" target="_blank"><img src="assets/img/github-img.svg"
                alt="github-img"></a>
        <a [href]="'mailto:antonosipov@web.de'"><img src="assets/img/email-img.svg" alt="email-img"></a>
        <a href="https://www.linkedin.com/in/anton--osipov/" target="_blank"><img
                src="assets/img/linkedin-img.svg" class="margin-right" alt="linkedIn-img"></a>
    </div>
</footer>