<div class="content">
    <div class="background-image">
        <img src="assets/img/upper-body-image2.png" alt="profil-image">
    </div>
    <div class="vertical-headline">
        <span>I</span> am
    </div>
    <div class="headline">
        Anton Osipov <p>Frontend Developer</p>
        <div class="talk-button">
            Let's talk
        </div>
    </div>
</div>
<div class="content-footer">
    <div class="contact-icons">
        <div class="separator"></div>
        <img src="assets/img/github-img.svg" alt="github-img">
        <img src="assets/img/email-img.svg" alt="email-img">
        <img src="assets/img/linkedin-img.svg" alt="linkedIn-img">
        <span>antonosipov&#64;web.de</span>
    </div>
    <div class="scroll-down">
        Scroll down <img src="assets/img/arrow.svg" alt="arrow-img">
    </div>
</div>