body {
    scroll-behavior: smooth;
}

.content {
    height: 100vh;
    width: 100%;
    background-color: rgb(20, 29, 47);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/assets/img/background-profile-picture.svg);
    background-position: 0% 26%;
    background-repeat: no-repeat;
    background-size: 800px 800px;
    position: relative;
}


.profil-image {
    height: auto;
    width: 32%;
    object-fit: cover;
    margin-right: 8%;
    margin-left: 100px;
}

.vertical-headline {
    color: white;
    font-size: 58px;
    transform: rotate(270deg);
    margin-bottom: 82px;
    display: flex;
    position: absolute;
    left: -106px;
    bottom: 55px;

    >span {
        margin-right: 20px;
    }
}

.headline {
    color: white;
    font-size: 72px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-right: 100px;

    >p {
        color: #4B47FF;
        font-size: 49px;
        margin: 0;
    }
}

.talk-button {
    color: white;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    gap: 10px;
    font-size: 23px;
    background-color: #00BEE8;
    display: flex;
    justify-content: center;
    width: 100px;
    font-weight: 400;
    margin-top: 40px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        background-color: #4B47FF;
        transform: scale(1.2);
    }
}

.content-footer {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.contact-icons {
    display: flex;
    align-items: center;

    >span {
        color: white;
        font-size: 23px;
        margin-left: 20px;
    }

    >img {
        height: 30px;
        width: 30px;
        margin: 20px;
        transition: transform 0.1s ease-in-out;

        &:hover {
            cursor: pointer;
            transform: scale(1.3);
        }
    }
}

a {
    text-decoration: none;
    color: white;
}

.separator {
    width: 100px;
    height: 6px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #4B47FF;
    margin-right: 20px;
}

.scroll-down {
    color: white;
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    font-size: 23px;
    gap: 10px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(90deg) scale(1.2);
        cursor: pointer;
    }

    >a {
        text-decoration: none;
        color: white;
        margin-right: 70px;

        >img {
            height: 15px;
            width: 15px;
            transform: rotate(-90deg);
        }
    }
}

.background-bottom {
    height: auto;
    width: 100%;
    position: absolute;
    bottom: -110%;
    right: 0;
    z-index: 0;
}

.mobile-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    font-size: 23px;
    background-color: rgba(20, 29, 47, 0.6);
    z-index: 2;
    transition: transform 0.1s ease-in-out;
    transform: translateX(100%);
}

.mobile-menu.open {
    transform: translateX(0);
}


.margin-bottom {
    margin-bottom: 150px
}

@media (min-width: 1700px) {
    .background-bottom {
        bottom: -104%;
    }
}

@media (max-width: 1350px) {
    .background-bottom {
        bottom: -90%;
    }

    .profil-image {
        width: 40%;
        margin-right: 0;
    }
}

@media (max-width: 1250px) {
    .profil-image {
        width: 35%;
    }

    .background-bottom {
        bottom: -77%;
    }

    .content {
        background-position: -34% 26%;
    }
}

@media (max-width: 1150px) {
    .headline {
        font-size: 60px;

        >p {
            font-size: 41px;
        }
    }

    .vertical-headline {
        font-size: 48px;
        z-index: 1;
        left: -90px;
        bottom: 49px;
    }
}

@media (max-width: 1130px) {
    .background-bottom {
        bottom: -71%;
    }
}

@media (max-width: 1050px) {

    .background-bottom {
        bottom: -60%;
    }

    .profil-image {
        width: 32%;
    }

    .content {
        background-position: -80% 26%;
    }
}

@media (max-width: 950px) {
    .background-bottom {
        bottom: -53%;
    }
}

@media (max-width: 940px) {
    .headline {
        font-size: 50px;

        >p {
            font-size: 34px;
        }
    }

    .vertical-headline {
        font-size: 38px;
        left: -73px;
        bottom: 43px;
    }

}

@media (max-width: 880px) {
    .scroll-down {
        display: none;
    }

    .background-bottom {
        bottom: -46%;
    }
}

@media (max-width: 830px) {
    .content {
        flex-direction: column;
    }

    .background-bottom {
        bottom: -28%;
    }

    .profil-image {
        width: 45%;
        margin-left: 0;
    }

    .headline {
        margin-left: 30px;
        margin-right: 0;
    }

    .talk-button {
        margin-right: 20px;
    }

    .content {
        justify-content: center;
    }
}

@media (max-width: 770px) {

    .contact-icons {
        >span {
            display: none;
        }
    }

    .content {
        background-position: 33% -19%;
        background-size: 600px 600px
    }

    .background-bottom {
        bottom: -20%;
    }
}

@media (max-width: 660px) {
    .profil-image {
        width: 60%;
    }
}

@media (max-width: 640px) {
    .background-bottom {
        bottom: -10%;
    }
}

@media (max-width: 510px) {
    .background-bottom {
        bottom: -4%;
    }
}

@media (max-width: 480px) {
    .headline {
        font-size: 40px;

        >p {
            font-size: 28px;
        }
    }

    .vertical-headline {
        font-size: 30px;
    }

    .content {
        background-size: 550px 550px;
    }

    .background-bottom {
        bottom: 0;
    }
}


@media (max-width: 440px) {
    .background-bottom {
        bottom: 0;
    }

    .profil-image {
        width: 80%;
    }
}

@media (max-width: 380px) {
    .headline {
        font-weight: 700;
        font-size: 36px;

        >p {
            font-size: 26px;
        }
    }

    .vertical-headline {
        font-size: 25px;
        bottom: 39px;
        left: -54px;
    }

    .contact-icons {
        >img {
            margin: 15px;
        }
    }
}