<div class="content">
        <img class="profil-image" src="assets/img/upper-body-image.png" alt="profil-image">
    <div class="headline">
        <div class="vertical-headline">
            <span>I</span> am
        </div>
        Anton Osipov <p>Frontend Developer</p>
        <a href="#contact"><div class="talk-button">
            Let's talk
        </div></a>
    </div>
    <div class="mobile-menu" [class.open]="!isMenuClosed">
        <a href="#about-me" (click)="toggleMenu()"><p>About me</p></a>
        <a href="#skills" (click)="toggleMenu()"><p>Skills</p></a>
        <a href="#portfolio" (click)="toggleMenu()"><p>Portfolio</p></a>
        <a href="#contact" (click)="toggleMenu()"><p class="margin-bottom">Contact</p></a>
    </div>
</div>
<div class="content-footer">
    <div class="contact-icons">
        <div class="separator"></div>
        <a href="https://github.com/AntonOsipov99" target="_blank"><img src="assets/img/github-img.svg" alt="github-img"></a>
        <a [href]="'mailto:antonosipov@web.de'" ><img src="assets/img/email-img.svg" alt="email-img"></a>
        <a href="https://www.linkedin.com/in/anton--osipov/" target="_blank"><img src="assets/img/linkedin-img.svg" alt="linkedIn-img"></a>
        <span>antonosipov&#64;web.de</span>
    </div>
    <div class="scroll-down">
        <a href="#footer"> Scroll down <img src="assets/img/arrow.svg" alt="arrow-img"></a>
    </div>
</div>
<img class="background-bottom" src="assets/img/background2.svg">