nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 37px 75px 37px 100px;
    background-color: rgb(20, 29, 47);
    color: white;

    >div>a {
        text-decoration: none;
        color: white;
        margin: 24px;
        font-size: 23px;

        &:hover {
            color: #00BEE8;
        }
    }

    h2 {
        font-size: 40px;
        font-weight: 700;
        margin: 0px;
    }
}

.mobile-menu-icon {
    display: none;
}

@media (max-width: 830px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .mobile-menu-icon.menu-closed {
        background-image: url('/assets/img/burger-menu.svg');
        height: 25px;
        width: 25px;
    }
    
    .mobile-menu-icon.menu-open {
        background-image: url('/assets/img/cross.svg');
    }

    @media (max-width: 650px) {
        nav {
            padding: 37px 25px;
        }
    }
}