<div class="content" id="about-me">
    <div class="left-side-about-me">
        <h1>
            About me
        </h1>
        <p>
            Hi, I'm a Front-end developer based in Lahr, Germany, fueled by a keen interest in continuous learning,
            coding
            and sport. I take delight in designing user interfaces, navigating virtual realms, and building immersive
            digital
            experiences that engage users globally.
        </p>
        <div class="info-box">
            <img src="assets/img/bulb.svg" alt="bulb-img">
            <span>In the ever-changing landscape of technology, I excel in keeping myself abreast of the latest trends,
                tools, and techniques.</span>
        </div>
        <div class="info-box margin-bottom">
            <img src="assets/img/puzzle.svg" alt="puzzle-img">
            <span>I possess a profound enthusiasm for troubleshooting and an exceptional attention to detail.</span>
        </div>
    </div>
    <img src="assets/img/profil-image2.png" alt="profil-img">
    <div class="separator"></div>
</div>