<div class="content" id="about-me">
    <div class="left-side-about-me">
        <h1 data-aos="zoom-out-right">
            About me
        </h1>
        <p data-aos="zoom-out-right">
            Hey, nice to meet you! I'm Anton, a German-speaking frontend developer based in Lahr, Germany with experience in
            JavaScript & Angular.  At the Developer Akademie, I have developed many web apps with a frontend focus, either alone
             or in a team, and received feedback from experienced developers. You are very welcome to visit my portfolio.
        </p>
        <div class="info-box" data-aos="zoom-out-right">
            <img src="assets/img/bulb.svg" alt="bulb-img">
            <span> I am fascinated by the variety of possibilities in programming. I really enjoy the structured and analytical
                   way of working in programming and I really like it.</span>
        </div>
        <div class="info-box margin-bottom" data-aos="zoom-out-right">
            <img src="assets/img/puzzle.svg" alt="puzzle-img">
            <span>I am highly motivated and excited to master new challenges and to learn from them every day.</span>
        </div>
    </div>
    <img src="assets/img/profil-image.png" alt="profil-img" data-aos="zoom-out-left">
    <div class="separator"></div>
</div>