.content {
    display: flex;
    justify-content: end;
    margin-bottom: 80px;
    margin-right: 100px;
}

.topic-headline {
    color: #4B47FF;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 60px;
}

.language {
    color: #00BEE8;
    font-size: 23px;
}

.description {
    color: white;
    width: 420px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 33px;
}

.test-button {
    color: white;
    font-size: 23px;
    padding: 10px 30px 10px 30px;
    background-color: #4B47FF;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        background-color: #00BEE8;
        ;
    }
}

.git-button {
    color: white;
    font-size: 23px;
    padding: 10px 30px 10px 30px;
    border: 1px solid #00BEE8;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        background-color: #00BEE8;
    }
}

a {
    text-decoration: none;
    color: white;
}

img {
    height: 400px;
    width: 400px;
    margin-right: 10%;
}

@media (max-width: 1150px) {
    img {
        margin-right: 0;
        margin-left: 100px;
    }

    .content {
        justify-content: space-between;
    }
}

@media (max-width: 1030px) {
    .content {
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .topic-headline {
        margin-top: 0;
    }

    img {
        margin: 0;
        margin-right: 40px;
    }

    .project-description {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttons {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 550px) {
    img {
        margin: 0;
    }
}

@media (max-width: 480px) {
    .description {
        width: 300px;
    }
}