<div class="content">
    <img src="assets/img/join.png" alt="join-img"  data-aos="zoom-out-right">
    <div class="project-description"  data-aos="zoom-out-left">
        <p class="topic-headline">Join</p>
        <span class="language">JavaScript | HTML | CSS</span>
        <p class="description">Task manager inspired by the Kanban System. Create and organize
            tasks using drag and drop functions, assign users and categories.</p>
        <div class="buttons">
            <a href="https://join.anton-osipov.de/" target="_blank"><div class="test-button">
                Live test
            </div></a>
            <a href="https://github.com/AntonOsipov99/join/" target="_blank"><div class="git-button">
                Github
            </div></a>
        </div>
    </div>
</div>