<div class="content">
    <img src="assets/img/join.svg" alt="join-img">
    <div class="project-description">
        <p class="topic-headline">Join</p>
        <span class="language">JavaScript | HTML | CSS</span>
        <p class="description">Task manager inspired by the Kanban System. Create and organize
            tasks using drag and drop functions, assign users and categories.</p>
        <div class="buttons">
            <a href="#"><div class="test-button">
                Live test
            </div></a>
            <a href="#"><div class="git-button">
                Github
            </div></a>
        </div>
    </div>
</div>