<div class="content" id="contact">
    <div class="headline">
        <div class="separator" data-aos="zoom-out-right"></div>
        <h1 data-aos="zoom-out-right">Contact</h1>
    </div>
    <div class="flex-box">
        <div class="contact-description">
            <h2 data-aos="zoom-out-right">Got a problem to solve</h2>
            <span data-aos="zoom-out-right">Contact me through this form, I am interested in hearing you, knowing your ideas and contributing
                 to your projects with my work.</span>
            <p data-aos="zoom-out-right">Need a Frontend developer? <span>Contact me!</span></p>
        </div>
        <form (submit)="sendMail()" #myForm ngNativeValidate data-aos="zoom-out-left">
            <input required type="text" name="name" placeholder="Your name" #nameField>
            <input required type="email" name="email" placeholder="Your email" #emailField>
            <textarea required type="text" name="message" placeholder="Your message" #messageField style="resize: none"></textarea>
            <button type="submit" #sendButton>Send message</button>
        </form>
    </div>
</div>