.content {
    background-image: url(/assets/img/blue-shadow-contact.svg);
    background-position: 110% 0%;
    background-repeat: no-repeat;
    background-size: 400px 400px;
    justify-content: space-between;
}

.headline {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    >h1 {
        color: white;
        margin-left: 42px;
        font-size: 72px;
    }
}

.separator {
    width: 58px;
    height: 4px;
    background-color: #4B47FF;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

h2 {
    color: white;
    margin-left: 100px;
    font-size: 32px;
    margin-top: 0;
}

.flex-box {
    display: flex;
    justify-content: space-between;
    background-image: url(/assets/img/bottom-shadow.svg);
    background-position: 0% 95%;
    background-repeat: no-repeat;
    background-size: 400px 400px;
}

.contact-description {
    color: white;
    margin-right: 50px;

    >span {
        margin-left: 100px;
        width: 380px;
        display: block;
    }

    >p {
        margin-left: 100px;

        >span {
            font-weight: 700;
        }
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 40%;
    margin-right: 100px;
    gap: 30px;

    ::placeholder {
        color: white;
        font-family: 'Poppins';
    }

    >input {
        background-color: #1D273C;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        color: white;
        padding: 15px 10px;
        width: 100%;

        &:hover {
            border-color: #00BEE8;
        }
    }

    >textarea {
        background-color: #1D273C;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        color: white;
        padding: 15px 10px;
        width: 100%;
        height: 200px;

        &:hover {
            border-color: #00BEE8;
        }
    }
}

button {
    width: 236px;
    font-size: 23px;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    color: white;
    background-color: #00BEE8;
    border: transparent;
    cursor: pointer;
    margin-bottom: 100px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        background-color: #4B47FF;
        transform: scale(1.2);
    }
}

.arrow-image {
    height: 39px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 39px;
    cursor: pointer;
    background-image: url('/assets/img/go-up-button.svg');

    &:hover {
        background-image: url('/assets/img/arrow-blue.svg');
    }
}

@media (min-width: 1900px) {
    .headline {
        >h1 {
            margin-left: 5%;
        }
    }

    .separator {
        width: 10%;
    }

    .contact-description {
        margin-left: 15%;
    }

    h2 {
        margin-left: 0;
    }

    .contact-description {
        >span {
            margin-left: 0;
        }

        >p {
            margin-left: 0;
        }
    }

    form {
        margin-right: 15%;
    }
}

@media (min-width: 3000px) {
    .headline {
        >h1 {
            margin-left: 8%;
        }
    }

    .contact-description {
        margin-left: 18%;
    }

    form {
        margin-right: 20%;
    }
}

@media (max-width: 1150px) {
    .headline {
        >h1 {
            font-size: 60px;
        }
    }
}

@media (max-width: 1050px) {
    .flex-box {
        flex-direction: column;
        background-position: 0% 99%;
        background-size: 300px 300px;
    }

    form {
        margin-left: 100px;
        width: auto;
    }

    .contact-description {
        margin-right: 100px;
        margin-bottom: 50px;

        >span {
            width: auto;
        }
    }

}

@media (max-width: 940px) {
    .headline {
        >h1 {
            font-size: 50px;
        }
    }
}

@media (max-width: 750px) {
    .flex-box {
        background-position: 0% 100%;
        background-size: 230px 230px;
    }
}

@media (max-width: 650px) {
    form {
        margin-left: 25px;
        margin-right: 25px;
    }

    .flex-box {
        background-size: 150px 150px;
    }

    .content {
        background-position: 140% 0%;
        background-size: 300px 300px;
    }

    .contact-description {
        margin-right: 25px;

        >span {
            margin-left: 25px;
        }

        >p {
            margin-left: 25px;
        }
    }

    h2 {
        margin-left: 25px;
    }
}

@media (max-width: 480px) {
    .headline {
        >h1 {
            font-size: 40px;
        }
    }

    .content {
        background-position: 140% 0%;
    }
}

@media (max-width: 400px) {
    .content {
        background-position: 240% 0%;
        background-size: 300px 300px;
    }
}