<div class="content" id="skills">
    <div class="icon-box">
        <div *ngFor="let icon of icons">
            <div class="icon-container">
                <img [src]="icon.url" alt="{{ icon.description }}" />
                <p>{{ icon.description }}</p>
            </div>
        </div>
    </div>
    <div class="my-skills">
        <div class="skills-box">
            <h1>
                My skills
            </h1>
            <div class="separator"></div>
        </div>
        <span>I have enhanced my frontend development skills, enabling me to undertake various real projects.</span>
        <a href="#contact"><div class="touch-button">
            Get in touch
        </div></a>
    </div>
</div>
<div class="flex-box" id="portfolio">
    <div class="headline-short-separator"></div>
    <h1>
        Portfolio
    </h1>
    <div class="headline-long-separator"></div>
</div>
<p class="subheadline">This page is a showcase of my work - feel free to try them out</p>
<app-join></app-join>
<app-el-pollo-loco></app-el-pollo-loco>